* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body {
  font: 16px sans-serif;
}
.header {
  padding: 20px;
  background: yellow;
  color: #fff;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  background: gray;
  padding: 10px 20px;
}
.breadcrumbs li {
  margin-right: 10px;
}
.breadcrumbs a {
  color: #fff;
}

.content {
  padding: 20px;
}